/* HomePage.css */
.home-container {
  padding: 20px;
}

.home-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.vehicle-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-columns: repeat(min(4, auto-fill), minmax(250px, 1fr)); */
}

/* Media Queries for Better Responsiveness */
@media (max-width: 900px) {
  .vehicle-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .vehicle-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .vehicle-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
