.apply-filter-btn {
  /* width: 100%; */
  padding: 10px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Container */
.container {
  display: flex;
  flex-direction: column; /* Stack filters on top */
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 1200px;
}

/* Filters Section (Now acts as a header) */
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  gap: 15px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* position: sticky; */
  top: 0;
  /* z-index: 100; */
}

/* Style adjustments for filters */
.filters select,
.filters input {
  width: auto;
  min-width: 120px;
  padding: 8px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.filters label {
  display: none; /* Hide labels to save space */
}

.filters h2 {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.apply-filter-btn:hover {
  background-color: #0056b3;
}

/* Results Section */
.results {
  flex: 4;
  width: 100%;
}

.results h2 {
  font-size: 1.75rem;
  margin-bottom: 15px;
  color: #333;
}

.results p {
  font-size: 1.2rem;
  color: #777;
}

/* Vehicle Card Grid */
.vehicle-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 15px;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.vehicle-card:hover {
  transform: scale(1.05);
}

.vehicle-card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.vehicle-card h2 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}

.vehicle-card h1 {
  font-size: 1.5rem;
  color: #e74c3c;
}

.vehicle-card h1:before {
  font-weight: bold;
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.pagination-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination-info {
  font-weight: bold;
  font-size: 1rem;
}
